{
  "extends": ["react-app", "prettier"],
  "rules": {
    "no-unused-vars": "error",
    "no-dupe-keys": "error",
    "no-irregular-whitespace": ["error", { "skipStrings": false }],
    "no-undef": "error",
    "no-global-assign": "error",
    "no-console": "warn",
    "no-alert": "error",
    "no-eq-null": "error",
    "no-empty-function": "error",
    "no-multi-str": "error",
    "no-duplicate-imports": "error",
    "no-unused-expressions": "error",
    "no-unused-labels": "error",
    "no-use-before-define": "off",
    "@typescript-eslint/no-use-before-define": ["error"],
    "no-trailing-spaces": "error",
    "no-redeclare": "error",
    "no-const-assign": "error",
    "no-param-reassign": "error"
  }
}
